In [9]:
import numpy as np
import pandas as pd
%config Completer.use_jedi = False

In [15]:
df = pd.read_csv('data.csv')

In [16]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [17]:
# Question 1 - Version of NumPy
print(np.__version__)

1.20.3

In [18]:
# Question 2 - Version of Pandas
print(pd.__version__)

1.3.2

In [23]:
# Question 3 - The average price of BMW
print(
    df[df['Make']=='BMW']['MSRP'].mean()
)

61546.76347305389

In [33]:
# Question 4 - Number of missing values in "Engine HP" after 2015
result = df[
    (df['Year'] >= 2015) & (df['Engine HP'].isnull())
]
print(len(result))
result.describe()

51

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,51.0,0.0,51.000000,46.000000,51.000000,51.000000,51.00000,51.000000
mean,2016.0,NaN,1.882353,3.869565,73.313725,77.607843,1835.45098,50249.313725
std,0.8,NaN,2.542810,0.499275,34.854262,43.784965,1650.84002,25001.993781
min,2015.0,NaN,0.000000,2.000000,25.000000,17.000000,61.00000,25100.000000
25%,2015.0,NaN,0.000000,4.000000,29.500000,22.500000,1385.00000,31975.000000
50%,2016.0,NaN,0.000000,4.000000,92.000000,95.000000,1391.00000,37570.000000
75%,2017.0,NaN,4.000000,4.000000,101.000000,120.000000,2009.00000,67950.000000
max,2017.0,NaN,6.000000,4.000000,108.000000,126.000000,5657.00000,134500.000000

In [34]:
# Question 5

# Calculate average "Engine HP"
avg_hp_nofill = df['Engine HP'].mean()
print("Avg Engine HP: " + str(avg_hp_nofill))

df_fillna = df

Avg Engine HP:249.38607007176023

In [41]:
df.fillna(value={"Engine HP": avg_hp_nofill})['Engine HP'].mean()

249.38607007176

In [39]:
df.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [45]:
# Question 6
col_select = df[df['Make']=="Rolls-Royce"][['Engine HP', "Engine Cylinders", "highway MPG"]]

In [49]:
X = np.array(col_select.drop_duplicates())

In [53]:
np.sum(np.linalg.inv(X.T@X))

0.032212320677486195

Question 7

In [61]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

In [64]:
w = np.linalg.inv(X.T@X)@X.T @ y
w

array([ 0.19989598, 31.02612262, 31.65378877])